html {
    height: 100%;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: aliceblue;
            
}

h1{
    background-color: rgb(151, 188, 233);
    border-radius:3px;
    padding:5px;
    font-family: "quicksand", serif;
}

.card-body{
    background-color: rgb(218, 226, 245);
}

.texto{
    background-color: rgb(219, 243, 243);
    border-radius: 2px;
    font-family: "Share Tech Mono", serif;
    font-weight: bold;
    font-style: normal;
    padding:3px;
}

label, select{
    font-family: "quicksand", serif;
    
    
}

.btn-primary{
    width:100%;
    color:black;
    font-style:bold;
    background-color: rgb(151, 188, 233);
    font-family: "quicksand", serif;
}

.btn-primary:hover{
    background-color:rgb(128, 146, 236);
}